<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>Hola Mundo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Jesús Colmenares <br> CI.29.659.066 <br> Sección 4 <%= title %></p>
  </body>
</html>
